.card{
margin: 3rem;
width: 15rem;
display: flex;
flex-direction: column;
border-width: 5px;
color: black;

}

.cardClose{
    width: 15rem;
    height: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgba(45, 187, 67, 0.898);
}

.cardImg{
    width: 15rem;
    height: 20rem;
}

.cardText{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(45, 187, 67, 0.898);
    height: 5rem;
    
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.corazon { 
    background-color: rgba(90, 187, 45, 0.898);
}