.bodyForm{
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: relative;
    margin: 0;
    text-align: center;
    font-style: normal;
    
    
}

p {
    color: rgb(252, 150, 8);
    font-size: 2rem;  
}

.Form{
    background-color: rgba(104, 91, 91, 0.982);
    border: solid;
    border-radius: 2rem;
    border-color: rgba(240, 255, 241, 0.156);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 45rem;
    padding: 2rem;
    
}

.accesoRestringido{
    width: 100%;
    height: 50%;
    background-image: url('./imgForm/vector.jpg');
    background-size: 95% 100%;
    border: solid;
    border-width: .3rem;
    border-radius: 3rem;
    border-color: rgba(168, 135, 135, 0.751);
    margin-bottom: 2rem;
  
}

.tituloFondo {
    font-family: 'rickAndMorty';
    font-size: 8rem;
    color: rgba(8, 251, 52, 0.897);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.div1y2{
    font-size: 1.5rem;
    padding: .5rem;
    width: 30rem;
    margin-bottom: 2rem;  
}

input {
    font-size: 1.5rem;
    margin: .5rem;
    padding: .1rem;  
}

.button{
    border-radius: .5rem;
    height: 2rem;
    width: 15rem;
    font-size: 1.5rem;
    
}

.imagen1{
    border-radius: 10rem;
    height: 90%;
    margin-top:6rem;
    margin-right: 5rem;    
    border-color: black;
    background-image: url(/src/components/Form/imgForm/portal.png);
    background-size: 100%;
}


@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    .Form{
        width: 20rem;
        height: 29rem;
        margin-right: 4rem;

    }
    .imagen1{
        margin-top: 5rem;
        margin-left: 2rem;
        width: 45%;
        height: 70%;
        
    }

    .tituloFondo {
        font-size: 5rem;
        margin-top: 5rem;
    }
    .div1y2{
        font-size: 1rem;
        padding: .5rem;
        width: 20rem;
        margin: 0;
          
    }
    p {
        color: rgb(252, 150, 8);
        font-size: 1rem;  
    }
    input {
        font-size: 1rem;
        margin: .5rem;
        padding: .1rem;  
    }
    


}

 @media only screen and (min-width: 740px) and (max-width: 1000px) {
    .imagen1{
         display: none;
     }

     .tituloFondo {
        font-size: 5rem;
        margin-top: 5rem;
    }
}

    
@media only screen and (min-width: 580px) and (max-width: 740px) {

    .imagen1{
        display: none;
    }
    .tituloFondo {
        font-size: 4rem;
    }
}

@media only screen and (min-width: 100px) and (max-width: 580px) {

    .Form{
        width: 20rem;
        height: 29rem;
        margin-right: 1rem;

    }
    .imagen1{
        display: none;
        
    }

    .tituloFondo {
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    .div1y2{
        font-size: 1rem;
        padding: .5rem;
        width: 20rem;
        margin: 0;
          
    }
    p {
        color: rgb(252, 150, 8);
        font-size: 1rem;  
    }
    input {
        font-size: 1rem;
        margin: .5rem;
        padding: .1rem;  
    }
}