.navBar{
    background-color:rgba(17, 18, 19, 0.801);
    border-radius: .5rem;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction:row-reverse;
    padding: .5rem;
}

.buttonNav{
    height: 2rem;
    width: 8rem;
    background-color: greenyellow;
    border-radius: 1rem;
    font-size: medium;
}

.button{
    height: 2rem;
    margin-top: 0;
    padding: 0 0.5rem;
    background-color: greenyellow;
    border-radius: 1rem;
    font-size: medium;
}


@media only screen and (min-width: 870px) and (max-width: 1160px) {
    .buttonNav{
        width:7rem;
        background-color: greenyellow;
        border-radius: 1rem;
        
        
    }
    
    .button{
        width: 10rem;
        background-color: greenyellow;
        border-radius: 1rem;
        font-size: small; 
        padding: 0; 
    }

}

 @media only screen and (min-width: 520px) and (max-width: 990px) {
    .navBar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    
    .container{
        flex-direction: row;
    }
    .buttonNav{
        width:10rem;
        background-color: greenyellow;
        border-radius: 1rem;
        margin-inline: 0.3rem; 
    }

    .button{
        display: none;
    }

}


@media only screen and (min-width: 100px) and (max-width: 700px) {
    .navBar{
        display: none;
    }
    .button{
        display: none;
    }


}